/*---------------------------------------*/
/*---------------------------------------*/
/* INIT - APPLIED IN HOME PAGE           */
/*---------------------------------------*/
/*---------------------------------------*/
@import url('iledysile-spinner.css');
body {
    scroll-behavior: smooth;    
}

* {
    box-sizing: border-box;
}

.iledysile-square-menu-logo {
    position: fixed;
}

.hero {
    min-height: 100vh;
    padding: 40px;
    background-color: #f0f0f0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-family: "Be Vietnam Pro", serif !important;
    font-weight: 400 !important;
}

.hero__title {
    color: #2d3436;
    display: block;
    font-size: clamp(4.25rem, 8.5vw, 10rem);
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    line-height: 1;
}

.nk-awb-wrap-content {
    display: none;
}

.hero__title-text {
    position: relative;
    z-index: 1;
}

.hero__title-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font: inherit;
    z-index: 0;
}

.hero__title-bg--front {
    color:transparent;
    -webkit-text-stroke: 1px rgb(255, 106, 105),

}

.hero__title-bg--back {
    color:transparent;
    -webkit-text-stroke: 1px #CEB9F2;
}

.iledysile-hero-image.hidden,
.iledysile-hero-image-2.hidden {
  display: none !important;
}

.iledysile-hero-image,
.iledysile-hero-image-2 {
  display: block;
}

.iledysile-hero-text {
    max-width: 80%;
    margin: 3% auto;
    text-align: center;
    margin-top: 5%;
    color: #9f9f9f;
}

.iledysile-hero-text h1 {
    font-size: 2em;
    color: #636363;
    margin-bottom: 3rem;
}

.iledysile-hero-text h2 {
    font-size: 1.3em;
    color: #797979;
}

.iledysile-hero-text p {
    font-size: 1.3em;
    color: #797979;
    font-weight: 300;
}

@media (min-width: 768px) {

    .iledysile-hero-image-mobile {
        display: none;     
    }
}

@media (max-width: 768px) {
    .iledysile-hero-image, .iledysile-hero-image-2 {
        display: none;
    }

    .iledysile-hero-image-mobile {
        display: block;        
    }

    .iledysile-hero-image-mobile img {
        object-position:18% 50% !important;
    }
    .hero-1-active .iledysile-square-menu-logo {
        top: auto;
        bottom: 381px;
        left: -29px;
        transform-origin: bottom left;
    }
}

/*---------------------------------------*/
/*---------------------------------------*/
/* END  - APPLIED IN HOME PAGE           */
/*---------------------------------------*/
/*---------------------------------------*/