/*---------------------------------------*/
/*---------------------------------------*/
/* INIT - ÜBER STYLING                   */
/*---------------------------------------*/
/*---------------------------------------*/

/* Import elements to hide first: */
@import url('iledysile-uber-hide-elements.css');

body {
    background-color: #EDE8E5;
}

.container {
    display: flex;
    justify-content: center;
    height: 24vh;
    flex-direction: column;
}

.content {
    position: relative;
    text-align: center;
}

.background-text {
    font-size: clamp(24px, 3.8vw, 80px);
    color: #FFB401;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    font-size: clamp(14px, 1.2vw, 30px);
    line-height: 1.2;
    white-space: nowrap;
}

@media (min-width: 768px) {

    .iledysile-column-padding-right {
        padding-right: 4.347826087% !important;
    }

    .wp-block-columns {
        flex-wrap: nowrap !important;
    }

    .iledysile-square-menu-logo {
        position: fixed;
    }

    .iledysile-columns {
        height: 100vh;
        margin-bottom: 0px !important;
    }

    .iledysile-imgvid {
        min-height: 65vh;
    }

    .col-full {
        padding-left: 0;
        padding-right: 0;
    }

    .iledysile-columns-2 {
        padding-left: 6% !important;
        padding-top: 5% !important;
        text-align: justify;
    }

    .iledysile-columns-2 .wp-block-column {
        margin-right: 0 !important;
    }

    .iledysile-column-bottom-left {
        padding-left: 6% !important;
        padding-top: 5% !important;
        text-align: justify;
        flex-basis: 34.9% !important;
    }

    .site-content {
        margin-top: 0px !important;
    }

    .hentry {
        margin-bottom: 0px !important;
    }

    .site-main {
        margin-bottom: 0px !important;
    }

    .container1 {
        align-items: flex-end;
    }

    .container2 {
        padding-top: 53px;
        padding-left: 89px;
    }

    .container3 {
        align-items: flex-start;
        padding-left: 54px;
    }

    .container4 {
        position: absolute;
        top: 22%;
        left: 37%;
    }

    .container5 {
        position: absolute;
        top: 47%;
        left: 32%;
    }

    .container6 {
        position: absolute;
        top: 72%;
        left: 14%;
    }

    .container7 {
        position: absolute;
        top: 9%;
        left: 69%;
    }

    .container8 {
        position: absolute;
        left: 86%;
        top: 29%;
    }

    .container9 {
        position: absolute;
        top: 43%;
        left: 63%;
    }

    .container10 {
        position: absolute;
        top: 69%;
        left: 65%;
    }

}

@media (max-width: 768px) {
    .site-content {
        margin-top: 0 !important;
    }
    .col-full {
        padding-left: 0;
        padding-right: 0;
    }
    .iledysile-columns-2 {
        padding: 40px;
        gap: 0 !important;
        text-align: justify;
        margin-bottom: 0 !important;
    }
    .iledysile-column-padding-right {
        margin-bottom: 0 !important;
    }
    .iledysile-columns-bottom {
        flex-direction: column-reverse !important;
    }
    .iledysile-column-bottom-left {
        padding: 0 40px 40px 40px !important;
        text-align: justify;
    }
    .iledysile-column-bottom-right-img {
        padding-top: 30px;
    }
    .iledysile-img-rahel {
        min-height: 62vh !important;
    }
}

/*---------------------------------------*/
/*---------------------------------------*/
/* END  - ÜBER STYLING                   */
/*---------------------------------------*/
/*---------------------------------------*/