/*---------------------------------------*/
/*---------------------------------------*/
/* INIT - PRODUCT STYLING                */
/*---------------------------------------*/
/*---------------------------------------*/
/* Estilos para el input tipo range */
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 1px;
    background: #000;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 40px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 40px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 40px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.reset_variations {
    display: none;
}

.site-content .col-full {
    padding-left: 0px;
    padding-right: 0px;
}

.site-content .col-full img {
    border-radius: 0px;
}



@media (min-width: 768px) {
    body:not(.home) .site-content {
        margin-top: 79px !important;
    }

    .storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
        width: 50% !important;
        margin-right: 0px !important;
    }

    .storefront-full-width-content.single-product div.product .summary {
        width: 50% !important;
        background-color: #b7816bad;
    }
    .storefront-full-width-content.single-product div.product .summary {
        padding: 3%;
    }
}

@media (max-width: 768px) {
    .woocommerce-product-gallery__trigger{
        display: none;
    }
    body:not(.home) .site-content {
        margin-top: 0px;
    }
}
/*---------------------------------------*/
/*---------------------------------------*/
/* END - PRODUCT STYLING                 */
/*---------------------------------------*/
/*---------------------------------------*/