@import url('iledysile-spinner.css');
@import url('iledysile-checkout-hide-elements.css');

body {
    text-transform: uppercase;
}
body:not(.home) .site-content {
    margin-top: 0 !important;
}
.iledysile-checkout {
    padding-top: 0 !important; 
}

.iledysile-fake-header {
    font-size: 2.617924em;
    padding-top: 1em;
}
.iledysile-col-left {
    padding-left: 15%;
}
.iledysile-col-right input[type="text"],
.iledysile-col-left input[type="text"], 
.iledysile-col-left input[type="email"],
.iledysile-col-left input[type="tel"]{
    border: 0 !important;
    border-bottom: 2px solid #000000 !important;
    background-color: #f3f3f3 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.iledysile-col-left select {
    background-color: #f3f3f3 !important;
}
.iledysile-col-right {
    margin-top: 10.5em !important;
}
.iledysile-square-menu-logo {
    position: fixed;
}
.iledysile-coupon-form button {
    background-color: transparent !important;
    color: #43454b !important;
    border-top: 2px solid #43454b !important;
    border-bottom: 2px solid #43454b !important;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease !important;
    text-decoration: none !important;
}
.iledysile-coupon-form button:hover{
    color: #8d8d8d !important;
    border-top: 2px solid #8d8d8d !important;
    border-bottom: 2px solid #8d8d8d !important;
}

.iledysile-submit-checkout-btn button {
    background-color: #43454b !important;
    border: 2px solid #43454b!important;
    color: #ffffff !important;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease !important;
    text-decoration: none !important;
    height: 60px !important; 
}
.iledysile-submit-checkout-btn button:hover {
    background-color: #8d8d8d !important;
    border: 2px solid #8d8d8d!important;
    color: #ffffff !important;
} 

.iledysile-address-block select {
    border-radius: 0 !important;
}

.wc-blocks-components-select__container {
    border-radius: 0 !important;
}

.wc-blocks-components-select .wc-blocks-components-select__container {
    border: 1px solid hsla(0, 0%, 7%, .11) !important;
}

.iledysile-payment-options {
    text-transform: none !important;
}

.wc-block-checkout__guest-checkout-notice {
    display: none !important;
}

.wc-block-components-button__text {
    text-transform: uppercase !important;
}

.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option--checked-option-highlighted {
    border-radius: 0 !important;
    border: 1px solid hsla(0, 0%, 7%, .11) !important;
    box-shadow: none !important;
}

.wc-block-components-radio-control--highlight-checked label.wc-block-components-radio-control__option--checked-option-highlighted {
    border-radius: 0 !important;
    border: 1px solid hsla(0, 0%, 7%, .11) !important;
    box-shadow: none !important;
}
.iledysile-img-creditcards {
    max-width: 50%;
    height: auto;
}

@media (max-width: 768px) {
    .iledysile-square-menu-logo {
        position: absolute;
    }
    .wp-block-columns {
        flex-direction: column-reverse !important;
    }
    .iledysile-fake-header {
        margin-bottom: 0;
        font-size: 2em;
        padding-top: 1.5em;
        padding-left: 0;
    }
    .iledysile-col-right {
        margin-top: 2em !important;
    }
    .wc-block-checkout__form {
        margin-top: 8%;
    }
    fieldset#shipping-fields {
        padding-top: 14% !important;
    }
    fieldset#shipping-option {
        padding-top: 8%;
    }
    fieldset#payment-method {
        padding-top: 8%;
    }
    .iledysile-img-creditcards {
        max-width: 100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 3%;
    }
}