@import url('iledysile-spinner.css');
@import url('iledysile-checkout-hide-elements.css');

body {
    text-transform: uppercase;
    background-color: #F6EFDB;
}
body:not(.home) .site-content {
    margin-top: 0 !important;
}
.iledysile-checkout {
    padding-top: 0 !important; 
}

.iledysile-fake-header {
    font-size: 2.617924em;
    padding-top: 1em;
}
.iledysile-col-left {
    padding-left: 15%;
}
.iledysile-col-right input[type="text"],
.iledysile-col-left input[type="text"], 
.iledysile-col-left input[type="email"],
.iledysile-col-left input[type="tel"]{
    border: 0 !important;
    border-bottom: 2px solid #000000 !important;
    background-color: #F6EFDB !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.iledysile-col-left select {
    background-color: #F6EFDB !important;
}
.iledysile-col-right {
    margin-top: 10.5em !important;
}
.iledysile-square-menu-logo {
    position: fixed;
}

.iledysile-coupon-form button {
    background-color: #FFF6CD !important;
    border: 2px solid #000000 !important;
    color: #000000 !important;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease !important;
    text-decoration: none !important;
}
.iledysile-coupon-form button:hover{
    background-color: #F1DEFC !important;
    border: 2px solid #F1DEFC !important;
    color: #4f4f4f !important;
}

@media (max-width: 768px) {
    .iledysile-square-menu-logo {
        position: absolute;
    }
    .wp-block-columns {
        flex-direction: column-reverse !important;
    }
    .iledysile-fake-header {
        margin-bottom: 0;
        font-size: 2em;
        padding-top: 1.5em;
        padding-left: 0;
    }
    .iledysile-col-right {
        margin-top: 2em !important;
    }
}