
@import url('iledysile-spinner.css');
@import url('iledysile-cart-hide-elements.css');
body {
    background-color: #F6EFDB;
}
body:not(.home) .site-content {
    margin-top: 0 !important;
}
.col-full {
    padding: 0 !important;
}
.iledysile-square-menu-logo {
    position: fixed;
}
.site-main {
    margin-bottom: 0 !important;
}
.is-large.wc-block-cart {
    margin-bottom: 0 !important;
}
.iledysile-cart {
    padding-right: 0 !important;
    text-transform: uppercase !important;
}
.hentry {
    margin-bottom: 0 !important;
}
.iledysile-cart-items {
    padding-left: 2%;
}
.iledysile-address-block {
    display: none;
}

.iledysile-col-right {
    background-color: #FFF6CD;
    padding-left: 2.2641509434%;
    padding-right: 2.2641509434%;
}
.iledysile-col-left {
    height: 100vh;
    padding-left: 15%;
}
.iledysile-col-right-sumary-block {
    margin-top: 10.5em;
}
.iledysile-fake-header {
    font-size: 2.617924em;
    padding-top: 1em;
    padding-left: 0.5em;
}
.iledysile-cart-empty {
    height: 100vh;
    padding-left: 15%;
}
.iledysile-cart-empty-p {
    padding-left: 1.8em;
}
.iledysile-submit-cart-btn {
    margin: 5% auto 16px !important;
    width: 56% !important;
}
.iledysile-submit-cart-btn a {
    background-color: #F1DEFC !important;
    border: 2px solid #F1DEFC!important;
    color: #000000 !important;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease !important;
    text-decoration: none !important;
    height: 60px !important; 
}
.iledysile-submit-cart-btn a:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
} 

.iledysile-col-right-sumary-block input[type="text"] {
    border: 0 !important;
    border-bottom: 2px solid #000000 !important;
    background-color: #FFF6CD !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.iledysile-col-right-sumary-block select {
    background-color: #FFF6CD !important;
}

.iledysile-coupon-form button {
    background-color: #FFF6CD !important;
    border: 2px solid #000000 !important;
    color: #000000 !important;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease !important;
    text-decoration: none !important;
}

.iledysile-coupon-form button:hover{
    background-color: #ffffff !important;
    border: 2px solid #F1DEFC !important;
    color: #000000 !important;
}

#wc-block-components-totals-coupon__input-0:focus::placeholder {
    color: #808080; 
    opacity: 1; 
}
.wc-block-components-panel__button>.wc-block-components-panel__button-icon {
    background-color: #F1DEFC !important;
}
.wc-block-components-panel__button-icon {
    transition: transform 0.3s ease;
    transform-origin: center;
    display: block; /* por si acaso, previene pequeños desajustes */
}
.wc-block-components-panel__button-icon path {
    transition: transform 0.3s ease;
    transform-origin: center;
    d: path("M5 8L12 17L19 8Z");
}

.wc-block-components-panel__button[aria-expanded="true"] .wc-block-components-panel__button-icon path {
    transform: rotate(180deg);
}
@media (max-width: 768px) {
    .wc-block-cart-item__total {
        font-weight: bold !important;
    }
    .iledysile-col-left {
        padding-left: 22px !important;
        padding-right: 22px !important;
        height: unset !important;
    }
    .iledysile-col-right {
        height: 25em;
    }
    .iledysile-square-menu-logo {
        position: absolute;
    }
    .iledysile-fake-header {
        font-size: 2em;
        padding-top: 1.5em;
        padding-left: 0;
    }
    .iledysile-col-right-sumary-block {
        padding: 50px 22px 0px 22px;
        margin-top: 0px;
    }
    .is-small .wc-block-cart__sidebar {
        margin-bottom: 0px !important;
    }
    .is-small.wc-block-components-sidebar-layout {
        margin-bottom: 0px !important;
    }
    .is-mobile .wc-block-cart__sidebar {
        margin-bottom: 0px !important;
    }
    .is-mobile.wc-block-components-sidebar-layout {
        margin-bottom: 0px !important;
    }
}