/*---------------------------------------*/
/*---------------------------------------*/
/* INIT - KONTAKT STYLING                */
/*---------------------------------------*/
/*---------------------------------------*/

/* Import elements to hide first: */
@import url('iledysile-kontakt-hide-elements.css');

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.site-content {
    flex: 1;
}
.iledysile-kontakt-columns {
      flex: 1;
}

.wp-block-heading {
    font-size: 2.617924em;
    font-weight: 400;
    color: #43454b;
}

input, textarea {
    background-color: #f1defc !important;
    max-width: 68% !important;
    border: none !important;
    outline: none !important;
    border-radius: 0px !important;
}

.wpforms-submit {
    background-color: transparent !important;
    color: #43454b !important;
    border-top: 2px solid #43454b !important;
    border-bottom: 2px solid #43454b !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.wpforms-submit:hover {
    background-color: #43454b !important;
    color: white !important;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
    margin-top: 25px;
}

@media (min-width: 768px) {
    .iledysile-square-menu-logo {
        position: fixed;
    }
    .hentry .entry-content .wp-block-columns .wp-block-column {
        margin-bottom: 0px;
    }
    .hentry .entry-content figure.wp-block-image {
        margin-bottom: 0px;
    }
    .wp-block-columns {
        margin-bottom: 0px;
    }
    .site-main {
        margin-bottom: 0px !important;
    }
    .hentry {
        margin-bottom: 0px;
    }
    .hentry .entry-content .wp-block-columns .wp-block-column:not(:first-child) {
        margin-top: 8em;
    }

    .wpforms-container .wpforms-field {
        padding: 6px 0;
    }
}

@media (max-width: 768px) {
    
}

/*---------------------------------------*/
/*---------------------------------------*/
/* END  - KONTAKT STYLING                */
/*---------------------------------------*/
/*---------------------------------------*/