/*---------------------------------------*/
/*---------------------------------------*/
/* INIT - APPLIED IN ALL PAGES */
/*---------------------------------------*/
/*---------------------------------------*/

/* Import elements to hide first: */
@import url('iledysile-main-hide-elements.css');


body {
    font-family: "Be Vietnam Pro", serif;
}

body:not(.home) .site-content {
    margin-top: 6em;
}

/* Eliminar los márgenes y hacer el contenido más ancho */
.col-full {
    max-width: 100% !important;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0;
}

/* Eliminar los márgenes y hacer el contenido más ancho (version mobile) */
@media (max-width: 768px) {
    .col-full {
        padding-left: 28px;
        padding-right: 28px;
    }
}

@media (min-width: 768px) {
    .iledysile-menu {
        padding-left: 15px;
    }
}

nav#site-navigation {
    position: fixed;
    width: 90%;
}

.site-header {
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    z-index: 10;
    padding-top: 0;
}

/* Oculta completamente la barra de acceso rápido del footer en moviles */
.storefront-handheld-footer-bar {
    display: none !important;
}

div#primary.content-area {
    margin-bottom: 0;
}

/*---------------------------------------*/
/*---------------------------------------*/
/* END - APPLIED IN ALL PAGES */
/*---------------------------------------*/
/*---------------------------------------*/

/*------------------------------------------------------------------------------*/

/*---------------------------------------*/
/*---------------------------------------*/
/* INIT - APPLIED IN HOME PAGE*/
/*---------------------------------------*/
/*---------------------------------------*/

.home #content .col-full {
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
}


/* Imagen a pantalla completa solo en la página de inicio */
.home .fullscreen-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    background-position: center top;
    /* Evita que se le corte la cabeza en pantallas muy anchas */
}

.home .wp-block-nk-awb {
    padding: 0 !important;
    margin: 0 !important;
}

.home .wp-block-columns.has-background {
    padding: 0;
}

.home .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow {
    margin: 0 !important;
}

/* Aplica sombra solo en h2 y h3 de la home */
.home h2,
.home h3 {
    text-shadow: 2px 2px 5px rgb(255 255 255 / 45%);
}

.home .site-main {
    margin-bottom: 0 !important;
}

@media (min-width: 600px) {

    .home .hentry .entry-content .wp-block-columns .wp-block-column,
    .editor-styles-wrapper .wp-block-columns .wp-block-column {
        padding: 0;
        margin-left: 0;
    }
}

@media screen and (min-width: 780px) and (max-width: 900px) {

    .home h2,
    .home h3 {
        font-size: 0.9rem !important;
    }
}

/*---------------------------------------*/
/*---------------------------------------*/
/* END - APPLIED IN HOME PAGE*/
/*---------------------------------------*/
/*---------------------------------------*/