/*---------------------------------------*/
/*---------------------------------------*/
/* INIT - APPLIED IN ALL PAGES */
/*---------------------------------------*/
/*---------------------------------------*/

/* Oculta el botón hamburguesa del menú mobile antiguo */
button#site-navigation-menu-toggle {
    display: none;
}

.primary-navigation{
    display: none !important;
}

.site-search {
    display: none !important;
}

.site-branding {
    display: none !important;
}

.storefront-handheld-footer-bar {
    display: none !important;
}

.edit-link {
    display: none;
}

/* Ocultar breadcrumb */
.storefront-breadcrumb {
    display: none;
}

.site-header-cart .cart-contents .amount {
    display: none;
}

.site-header-cart .cart-contents .count {
    display: none;
}

/*---------------------------------------*/
/*---------------------------------------*/
/* END - APPLIED IN ALL PAGES */
/*---------------------------------------*/
/*---------------------------------------*/